{% include './base_layout.html' with menu="ln" %}

{% block content %}
{% if error %}
        <div class="alert alert-danger">
                        <strong>Error!</strong> {{ error }}
                    </div>
     {% endif %}
 <div class="col-sm-9"> 
 <div id="nw" class="tab-pane fade in active">
 
<ul class="nav nav-tabs">
  <li {% if not nwn %} class="active" {% endif %}><a data-toggle="tab" href="#en">Edit Network</a></li>
  <li {% if nwn %} class="active" {% endif %}><a data-toggle="tab" href="#enn">Edit Network Node</a></li>
  
</ul>

<div class="tab-content">
  <div id="en" class="tab-pane fade {% if not nwn %} in active {% endif %}" >
  
    <h3>Edit Network</h3>
     <form class="form-horizontal" action="{% url 'edit_network' %}" method="POST">
          {% csrf_token %}
        <div class="form-group">
        <label class="control-label col-sm-2" >Enter VLAN ID *:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control input-default" id="edit_nw" name="editvlan_id" placeholder="Enter VLAN ID">
        </div>        
      </div>
      
       <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
       
            <button type="submit" class="btn btn-primary" {% if nw %} disabled {% endif %} >Submit</button>
        </div>
  </div>
  
  
  </form>
  
        <h3>Network Details</h3>
      <h3> </h3>
 <form class="form-horizontal" action="{% url 'edit_network' %}" method="POST">
        
{% csrf_token %}

      <div class="form-group">
            <div class="col-xs-6">
                <input type="hidden" class="form-control input-default" value="{{ nw.vlan_id }}" id="hmc_public_ip" name="evlan_id" placeholder="Enter VLAN ID">
            </div>
      </div>
      
      <div class="form-group">
            <label class="control-label col-sm-2" >VLAN ID:</label>
            <div class="col-xs-6">
                <label class="control-label" >{{ nw.vlan_id }}</label>
            </div>
      </div>      

      <div class="form-group">
        <label class="control-label col-sm-2" >Subnet Mask:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control input-default" value="{{ nw.subnet_mask }}" id="nw_subnet_mask" name="nw_subnet_mask" placeholder="Enter Subnet Mask">
        </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" >Gateway:</label>
      <div class="col-xs-6">
        <input type="text" class="form-control input-default" value="{{ nw.gateway }}" id="nw_gateway" name="nw_gateway" placeholder="Enter Gateway ">
      </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" >DNS1:</label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-default" value="{{ nw.dns1 }}" id="nw_dns1" name="nw_dns1" placeholder="Enter DNS1">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" >DNS2:</label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-default" value="{{ nw.dns2 }}" id="nw_dns2" name="nw_dns2" placeholder="Enter DNS2">
    </div>
  </div>
  <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary {% if not nw %} disabled {% endif %}">Update</button>
          </div>
  </div>
    
  </form>
  
  
  
  
  </div>
  <div id="enn" class="tab-pane fade {% if nwn %} in active {% endif %}">
     <h3> Edit Network Node </h3>  
    <form class="form-horizontal" action="{% url 'edit_network_node' %}" method="POST">
          {% csrf_token %}
        <div class="form-group">
        <label class="control-label col-sm-2" >Enter Network Node IP *:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control input-default" id="edit_nw" name="enw_node_ip" placeholder="Enter Network Node IP">
        </div>        
      </div>
      
       <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
       
            <button type="submit" class="btn btn-primary" {% if nwn %} disabled {% endif %} >Submit</button>
        </div>
  </div>
  
  
  </form>
  
  
    <h3>Network Node Details</h3>
    <h3> </h3>
   
  
   <form class="form-horizontal" action="{% url 'edit_network_node' %}" method="POST">

{% csrf_token %}

      <div class="form-group">
            <div class="col-xs-6">
                <input type="hidden" class="form-control input-default" value="{{ nwn.network_node_ip }}" id="hmc_public_ip" name="ednw_node_ip" placeholder="Enter NW node IP">
            </div>
      </div>
      
      <div class="form-group">
            <label class="control-label col-sm-2" >Network Node IP:</label>
            <div class="col-xs-6">
                <label class="control-label" >{{ nwn.network_node_ip }}</label>
            </div>
      </div>      

    <div class="form-group">
      <label class="control-label col-sm-2" >Credentials:</label>
      <div class="col-xs-6">
        <input type="text" class="form-control input-default" value="{{ nwn.credentials }}" id="nw_node_credentials" name="nw_node_credentials" placeholder="Enter Network Node Credentials ">
      </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" >X86 / PPC:</label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-default" value="{{ nwn.x_ppc }}" id="nw_node_type" name="nw_node_type"  placeholder="Enter NW node type ">
    </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-2" >Operating System:</label>
  <div class="col-xs-6">
    <input type="text" class="form-control input-default" value="{{ nwn.operating_system }}" id="nw_node_os" name="nw_node_os" placeholder="Enter NW node OS">
  </div>
</div>

<div class="form-group">        
    <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" {% if not nwn %} disabled {% endif %}>Update</button>
        </div>
</div>
  
</form>
    
    
    
    
    
  </div>
  
</div>
</div>
  <br><br><br><br>

</div>
  
{% endblock %}




