{% include './base_layout.html' with menu="li" %}

{% block content %}

<div class="col-sm-9"> 
   
     <h3>Edit Images</h3>
      <h3> </h3>
      {% if error %}
        <div class="alert alert-danger">
                        <strong>Error!</strong> {{ error }}
                    </div>
     {% endif %}
    <form class="form-horizontal" action="{% url 'edit_image' %}" method="POST">
          {% csrf_token %}
        <div class="form-group">
        <label class="control-label col-sm-2" >Enter Image Volume name *:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control input-default" id="edit_image_vol" name="eimage_vol" placeholder="Enter Image Volume name ">
        </div>        
      </div>
      
       <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
       {% if eimage %}
            <button type="submit" class="btn btn-primary" disabled >Submit</button>
     {% else %}
       <button type="submit" class="btn btn-primary" >Submit</button>
        {% endif %}
        
          </div>
  </div>
  
  </form>
  
  
  <h3> Image Details </h3>
     
  
     <form class="form-horizontal" action="{% url 'edit_image' %}" method="POST">
        {% csrf_token %}
        
        
        <div class="form-group">
            <div class="col-xs-6">
                <input type="hidden" class="form-control input-default" value="{{ eimage.image_volume }}" id="image_vol" name="image_vol" placeholder="Enter HMC IP">
            </div>
      </div>
      
    <div class="form-group">
      <label class="control-label col-sm-2" >Image Volume Name:</label>
      <div class="col-xs-6">
            <label class="control-label" >{{ eimage.image_volume }}</label>
        
      </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" >Image Operating System</label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-default" value="{{ eimage.operating_system }}" id="image_os" name="image_os" placeholder="Enter Operating System">
    </div>
  </div>
  
        
        
      <div class="form-group">
          <label class="control-label col-sm-2" >Owner :</label>
          <div class="col-xs-6">
            <input type="text" class="form-control input-default" value="{{ eimage.owner }}" id="image_owner" name="image_owner" placeholder="Enter Owner">
          </div>
      </div>
     
      <div class="form-group">
        <label class="control-label col-sm-2" >Storage:</label>
        <div class="col-xs-6">
          <input type="text" class="form-control input-default" value="{{ eimage.storage }}" id="image_storage" name="image_storage" placeholder="Enter Storage">
        </div>
    </div>
    
   <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
             <button type="submit" class="btn btn-primary"       {% if not eimage %} disabled {% endif %}>Update</button>
       
          </div>
  </div>
    </form>

{% endblock %}


